<form action="/contact" method="POST">
  <div class="form-group">
    <label >Ваш email:</label>
    <input name="email" type="text" class="form-control"  placeholder="email">
  </div>

  <p><b>Введите ваш отзыв:</b></p>
    <p><textarea rows="5" cols="70" name="comment" class = "form-control"></textarea></p>

  <button type="submit" class="btn btn-primary">Отправить отзыв</button>
</form>